.is-done {
    text-decoration: line-through;
    background-color:rgb(208, 253, 208);
}
.in-progress {
    text-decoration:none;
}
.is-important {
    text-decoration: underline;
    color: red;
}

.todo-item {
    padding: 15px 20px;
    border-bottom: 1px solid #3d5a80;

}

.todo-item:last-child {
     border-bottom:none;
}
